<h1>Editing Whl Sl Price Pttrn Whl Sl Price Xref</h1>

<%= render 'form' %>

<%= link_to 'Show', @whl_sl_price_pttrn_whl_sl_price_xref %> |
<%= link_to 'Back', whl_sl_price_pttrn_whl_sl_price_xrefs_path %>
